
/* import fonts from fonts.css file */
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/*import global styling*/
@import url(./partials/_global.css);

/* start navigation */

.header .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5 rem;
}

.header .main-menu .navbar{
    padding: 1 rem 20 rem;
}

.header .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--poppins); /*style, weight, size, line height, family*/
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */

/* Banner Area */
.site-main .site-banner {
    background: url(#) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h1{
    padding-top: 35%;
    font-weight: 500;
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display:block;
    font: normal bold 49px/60px var(--poppins);
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}
/* End About Area */

/* Start Interests Area*/

.site-main .interest-area{
    padding: 7rem 2rem;
}

.site-main .interest-area .interests-title{
    padding: 0 14rem;
}

.site-main .interest-area .interests-title h1{
    font-size: 35px;
}

.site-main > .interest-area .interests{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .interest-area .interests:hover{
    box-shadow: var(--box-shadow);
}

/* End Interests Area*/

