
/* import fonts from fonts.css file */
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/*import global styling*/
@import url(./partials/_global.css);

/* start navigation */

.header .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5 rem;
}

.header .main-menu .navbar{
    padding: 1 rem 20 rem;
}

.header .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--poppins); /*style, weight, size, line height, family*/
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */

/* Banner Area */
.site-main .site-banner {
    background: url(#) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h1{
    padding-top: 35%;
    font-weight: 500;
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display:block;
    font: normal bold 49px/60px var(--poppins);
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}
/* End About Area */

/* Start Interests Area*/

.site-main .interest-area{
    padding: 7rem 2rem;
}

.site-main .interest-area .interests-title{
    padding: 0 14rem;
}

.site-main .interest-area .interests-title h1{
    font-size: 35px;
}

.site-main > .interest-area .interests{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 4rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .interest-area .interests:hover{
    box-shadow: var(--box-shadow);
}

/* End Interests Area*/

/* Subscribe Area */

.site-main .subscribe-area .subscribe{
    background: var(--gradient-color);
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-area .subscribe-title h4{
    font: normal 700 30px/30px var(--poppins);
    color: var(--gradient-color);
}

.site-main .subscribe-area .subscribe-title p{
    color: var(--title-color);
    padding: 1rem 4rem;
}

.site-main .subscribe-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    font: normal 500 17px/20px var(--poppins);
}

.site-main .subscribe-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}
/* End Subscribe Area */


/* Footer Area */

footer.footer-area{
    padding: 5rem 0;
    background:url(#) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--poppins);
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
/* End Footer Area */
