
/* import fonts from fonts.css file */
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/*import global styling*/
@import url(./partials/_global.css);

/* start navigation */

.header .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5 rem;
}

.header .main-menu .navbar{
    padding: 1 rem 20 rem;
}

.header .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--poppins); /*style, weight, size, line height, family*/
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */

/* Banner Area */
.site-main .site-banner {
    background: url(#) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h1{
    padding-top: 35%;
    font-weight: 500;
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

/* End Banner Area */
